<% include partials/header %>

<h1><%= boardgames.boardgame[0].name[0]._ %></h1>
<p>Approximate play time: <%= boardgames.boardgame[0].playingtime[0] %></p>
<img class="deetsImg" src="<%= boardgames.boardgame[0].image[0] %>">
<p><%= boardgames.boardgame[0].description[0].split("<br/>") %></p>

<form class="form" action="/lists/tryit" method="post">
	<input type="hidden" id="tryitHidName" name="tryitHidName" value="<%= boardgames.boardgame[0].name[0]._ %>">
	<input type="hidden" id="tryitHidId" name="tryitHidId" value="<%= boardgames.boardgame[0].$.objectid %>">
	<input type="hidden" id="tryitHidThumb" name="tryitHidThumb" value="<%= boardgames.boardgame[0].thumbnail[0] %>">
	<input type="submit" value="Add to Want to Try!" id="tryitButton" class="itsAButton">
</form>
<form class="form" action="/lists/love" method="post">
	<input type="hidden" id="loveHidName" name="loveHidName" value="<%= boardgames.boardgame[0].name[0]._ %>">
	<input type="hidden" id="loveHidId" name="loveHidId" value="<%= boardgames.boardgame[0].$.objectid %>">
	<input type="hidden" id="loveHidThumb" name="loveHidThumb" value="<%= boardgames.boardgame[0].thumbnail[0] %>">
	<input type="submit" value="Add to Love!" id="loveButton" class="itsAButton">
</form>
<form class="form" action="/lists/own" method="post">
	<input type="hidden" id="ownHidName" name="ownHidName" value="<%= boardgames.boardgame[0].name[0]._ %>">
	<input type="hidden" id="ownHidId" name="ownHidId" value="<%= boardgames.boardgame[0].$.objectid %>">
	<input type="hidden" id="ownHidThumb" name="ownHidThumb" value="<%= boardgames.boardgame[0].thumbnail[0] %>">
	<input type="submit" value="Add to Own!" id="ownButton" class="itsAButton">
</form>


<a href="http://www.boardgamegeek.com/boardgame/<%= boardgames.boardgame[0].$.objectid %>">See more info!</a>

<!-- Suggest for a friend! -->

<% include partials/footer %>