<% include partials/header %>


<div id="listsBackground"></div>
<div id="listsTitle"><%= userId.name %>'s' lists</div>


<div id="listsContainer" class="container">
	<div class="row">

	<div class="col-md-4">
		<h1>Want to try list</h1>

		<% for (var i=0; i<listData.length;i++){ %>
			<% if (listData[i].tryIt) { %>
			<div class="listDiv">

				<a href="/results/<%= listData[i].gameId %>">
					<ul class="listsUl">
						<img class="listsGameThumb" src="<%= listData[i].thumbUrl %>">
						<li class="listsGameName"><%= listData[i].gameName %></li>
					</ul>
				</a>

				<a class="deleteBtn btn" href="/lists/<%= listData[i].id %>"><i class="glyphicon glyphicon-trash"></i></a>

				<form class="listsLove form" action="/lists/love/<%= listData[i].id %>" method="post">
					<input type="submit" value="Move to Love!" id="loveMoveButton" class="itsAButton">
				</form>

				<form class="listsOwn form" action="/lists/own/<%= listData[i].id %>" method="post">
					<input type="submit" value="Move to Own!" id="tryitMoveButton" class="itsAButton">
				</form>
			</div>
			<% } %>
		<% } %>
	</div>
<div class="col-md-4">
	<h1>love list</h1>

	<% for (var i=0; i<listData.length;i++){ %>
		<% if (listData[i].love) { %>
		<div class="listDiv">

			<a href="/results/<%= listData[i].gameId %>">
				<ul class="listsUl">
					<img class="listsGameThumb" src="<%= listData[i].thumbUrl %>">
					<li class="listsGameName"><%= listData[i].gameName %></li>
				</ul>
			</a>
			
			<a class="deleteBtn btn" href="/lists/<%= listData[i].id %>"><i class="glyphicon glyphicon-trash"></i></a>

			<form class="listsTryit form" action="/lists/tryit/<%= listData[i].id %>" method="post">
				<input type="submit" value="Move to Try It!" id="tryitMoveButton" class="itsAButton">
			</form>

			<form class="listsOwn form" action="/lists/own/<%= listData[i].id %>" method="post">
				<input type="submit" value="Move to Own!" id="ownMoveButton" class="itsAButton">
			</form>
		</div>
		<% } %>
	<% } %>
</div>


<div class="col-md-4">
	<h1>own list</h1>

	<% for (var i=0; i<listData.length;i++){ %>
		<% if (listData[i].own) { %>
		<div class="listDiv">
			<a href="/results/<%= listData[i].gameId %>">
				<ul class="listsUl">
					<img class="listsGameThumb" src="<%= listData[i].thumbUrl %>">
					<li class="listsGameName"><%= listData[i].gameName %></li>
				</ul>
			</a>

			<a class="listsDelete deleteBtn btn" href="/lists/<%= listData[i].id %>"><i class="glyphicon glyphicon-trash"></i></a>

			<form class="listsTryit form" action="/lists/tryit/<%= listData[i].id %>" method="post">
				<input type="submit" value="Move to Try It!" id="tryitMoveButton" class="itsAButton">
			</form>

			<form class="listsLove form" action="/lists/love/<%= listData[i].id %>" method="post">
				<input type="submit" value="Move to Love!" id="tryitMoveButton" class="itsAButton">
			</form>
		</div>
		<% } %>
	<% } %>

</div>
	</div>
</div>

<% include partials/footer %>